
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #ab6600;
    background-color: #fffaf3;
    border-color: #fff1de;
}

.alert-primary hr {
    border-top-color: #ffe7c5;
}

.alert-primary .alert-link {
    color: #784800;
}

.badge-primary {
    color: #212529;
    background-color: #FFA827;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #212529;
    background-color: #f39100;
}

.bg-primary {
    background-color: #FFA827 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #f39100 !important;
}

.border-primary {
    border-color: #FFA827 !important;
}

.btn-primary {
    color: #212529;
    background-color: #FFA827;
    border-color: #FFA827;
}

.btn-primary:hover {
    color: #212529;
    background-color: #ff9903;
    border-color: #f39100;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 168, 39, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #FFA827;
    border-color: #FFA827;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #f39100;
    border-color: #e38700;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 168, 39, 0.5);
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #212529;
    background-color: #f39100;
    border-color: #e38700;
}

.btn-outline-primary {
    color: #FFA827;
    background-color: transparent;
    border-color: #FFA827;
}

.btn-outline-primary:hover {
    color: #212529;
    background-color: #FFA827;
    border-color: #FFA827;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 168, 39, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #FFA827;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #FFA827;
    border-color: #FFA827;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 168, 39, 0.5);
}

.list-group-item-primary {
    color: #ab6600;
    background-color: #fff1de;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #ab6600;
    background-color: #ffe7c5;
}

.list-group-item-primary.list-group-item-action.active {
    color: #212529;
    background-color: #ab6600;
    border-color: #ab6600;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #fff1de;
}

.table-primary{
    --bs-table-bg: #ffffff;
    border-color: #eabe7e;
}

.table-hover .table-primary:hover {
    background-color: #ffe7c5;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #ffe7c5;
}

.text-primary {
    color: #FFA827 !important;
}

.text-check {
    color: #e38700 !important;
}

.text-primary-dark {
    color: #ab6600 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #f39100 !important;
}
