body, html, .full-page{
    height: 100%;
    /*overflow-y:hidden;*/
}

.page-height{
    height: calc(100% - 67px);
}

#teacherSignInForm{
    display: none;
}

#studentSidebar {
    width: 280px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #ff9903;
}

.nav-item a{
    color: black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #F67C01;
    /*background-color: #fff;*/
    background-color: #FFFAF3;
    border-color: #dee2e6 #dee2e6 #fff;
}

.questions-list{
    text-align: left;
}

.paper-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-exit:hover {
    color: #F67C01;
}
.btn-exit {
    color: #ff9903;
    text-decoration: underline;
}

.bg-code {
    background-color: #dcdcdc !important;
    color: black;
    font-weight: 100;
}

.test-title{
    font-size: 1.5em;
}

.alert {
    margin-bottom: 0;
}

.math-style{
    font-size: 25px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.ML_focused{
    border: 1px solid rgba(0, 0, 0, 1);
}


zwibbler {
    /*display: flex;*/
    margin-right: 10%;
    margin-left: 10%;
    /*flex-flow: row nowrap;*/
}

.tools {
    display: flex;
    /*flex-flow: column;*/
}

button.selected {
    background: green;
}

[z-canvas] {
    flex: 1 1 auto;
}

[z-canvas] {
    width: 100%;
    height: 400px;
}
zwibbler{
    margin: 0;
}

.zwibbler-main {
    flex: 1 1 auto;
}

.zwibbler-main {
    width: 100%;
    height: 400px;
}

.zwibbler-builtin-toolbar button img{
    max-width: 30px;
}

.zwibbler-builtin-toolbar{
    max-width: 110px;
}

.tooltipIcon{
    cursor: pointer;
}

.inputLabel{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.inputLabel2{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 52px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#mathlive-keystroke-caption-panel{
    padding: 0 !important;
}

.ML__popover{
    padding: 0;
}

.form-check-input:checked {
    background-color: #FFA827;
    border-color: #FFA827;
}